*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(54, 54, 54);
}

h1{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    
}

.container{
    height: 33rem;
    width: 29rem;
    background-color: azure;
    border-radius: 8px;
    margin-left: 35rem;
    margin-top: 3rem;
}

.screen{
    height: 8rem;
    width: 29rem;
    border-radius: 8px;
    background-color: aqua;
    margin-bottom: 2rem;
}

.btn{
    margin-left: 25px;
}

#operand{
    height: 4rem;
    width: 4rem;
    font-size: 25px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#operator{
    height: 4rem;
    width: 4rem;
    font-size: 25px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#del{
    height: 4rem;
    width: 4rem;
    font-size: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#ac{
    height: 4rem;
    width: 4rem;
    font-size: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}